<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="navbar-brand" style="font-size:2em; color:#62AD58">
		<i class="fas fa-futbol fa-lg" style="color:#EDE6E3"></i>
		<h2 style="display: inline">
			&nbsp;Soccer
			<p style="display: inline; color: #EDE6E3">Shop</p>
		</h2>
	</div>

	<label class="sr-only" for="inlineFormInputGroup">Username</label>
	<div class="input-group mb-2 mr-sm-2 mb-sm-0">
		<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="What are you looking for?">
		<div class="input-group-addon">
			<i class="fas fa-search fa-lg" style="color: #4C9642;"></i>
		</div>
	</div>

	<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
		<ul class="navbar-nav justify-content-end">
			<li class="nav-item">
				<a class="nav-link disabled">
					<i class="fas fa-sign-in-alt fa-lg"></i> Sign in</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/">
					<i class="fas fa-user-circle fa-lg"></i> My Account</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled">
					<i class="fas fa-shopping-cart fa-lg"></i>
					Cart
				</a>
			</li>
		</ul>
	</div>
</nav>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded justify-content-baseline">
	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav">
			<li class="nav-item" style="margin-right: 60px;">				
				<div class="my-account-header">
					<h5>
						My Account
						<small style="color: #4C9642;">Hello</small>
					</h5>		
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-bars"></i>
					&nbsp;Departments
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Shop by National Team</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Shop by Club</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Shop by League</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Sale</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Gift Cards</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#" style="color: #4C9642; font-weight: 500;">Be Prime!</a>
			</li>
		</ul>
	</div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="footer">
	<div class="footer-above">
		<ul>
			<li>
				<h1 style="font-weight: lighter;">follow us</h1>
			</li>
			<li>
				<a href="#" target="_blank">
					<i class="fab fa-twitter fa-2x"></i>
				</a>
			</li>
			<li>
				<a href="#" target="_blank">
					<i class="fab fa-facebook-f fa-2x"></i>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fab fa-pinterest-p fa-2x"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="footer-below">
		<p>© Soccer Shop 2018</p>
	</div>
</footer>
