<nav class="breadcrumb" style="margin: 0; background-color: #fff;">
	<a class="breadcrumb-item" routerLink="/">Home</a>
	<a class="breadcrumb-item" routerLink="/">My Account</a>
	<span class="breadcrumb-item active">Profile Informations</span>
</nav>

<div class="container">
	<div class="container-margin-top1">
		<div class="form-group col-4">
			<h2>Profile Informations</h2>
			<p>Change your personal informations</p>
		</div>
	</div>

	<div class="container-margin-top2">
		<form #profileFormData="ngForm" (ngSubmit)="updateProfile(profileFormData)" novalidate>

			<div class="form-group col-8" [class.has-success]="inputName.valid && (inputName.dirty || inputName.touched)" [class.has-danger]="!inputName.valid && (inputName.dirty || inputName.touched)">
				<label for="name">Name:</label>
				<div class="input-group">
					<input type="text" class="form-control col-6" #inputName="ngModel" [(ngModel)]="name" name="name" id="name" [readonly]="editFieldsReadonly" required autocomplete="off" minlength="3">
					<span class="help-block help-adjust color-green" *ngIf="inputName.valid && (inputName.dirty || inputName.touched)"><i class="fas fa-check"></i> Ok</span>
					<span class="help-block help-adjust color-red" *ngIf="!inputName.valid && (inputName.dirty || inputName.touched)"><i class="fas fa-times"></i> Campo obrigatório</span>
				</div>
			</div>

			<div class="form-group col-8" [class.has-success]="inputEmail.valid && (inputEmail.dirty || inputEmail.touched)" [class.has-danger]="!inputEmail.valid && (inputEmail.dirty || inputEmail.touched)">
				<label for="email">E-mail: </label>
				<div class="input-group">
					<input type="email" class="form-control col-6" #inputEmail="ngModel" [(ngModel)]="email" name="email" id="email" [readonly]="editFieldsReadonly" required autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
					<span class="help-block help-adjust color-green" *ngIf="inputEmail.valid && (inputEmail.dirty || inputEmail.touched)"><i class="fas fa-check"></i> Ok</span>
					<span class="help-block help-adjust color-red" *ngIf="!inputEmail.valid && (inputEmail.dirty || inputEmail.touched)"><i class="fas fa-times"></i> Campo obrigatório</span>
				</div>
			</div>

			<div class="form-group col-8" [class.has-success]="inputPassword.valid && (inputPassword.dirty || inputPassword.touched)" [class.has-danger]="!inputPassword.valid && (inputPassword.dirty || inputPassword.touched)">
				<label for="password">Password: </label>
				<div class="input-group">
					<input type="password" class="form-control col-6" #inputPassword="ngModel" [(ngModel)]="password" name="password" id="password" [readonly]="editFieldsReadonly" required autocomplete="off" minlength="6">
					<span class="help-block help-adjust color-green" *ngIf="inputPassword.valid && (inputPassword.dirty || inputPassword.touched)"><i class="fas fa-check"></i> Ok</span>
					<span class="help-block help-adjust color-red" *ngIf="!inputPassword.valid && (inputPassword.dirty || inputPassword.touched)"><i class="fas fa-times"></i> Campo obrigatório</span>
				</div>
			</div>

			<div class="form-group col-4" style="padding-top: 15px; padding-right: 0;">
				<a routerLink="/" class="btn-back">Back</a>
				<button type="submit" class="btn btn-primary" [disabled]="btnSaveHidden || profileFormData.invalid">Save</button>				
				<button type="button" class="btn btn-default" (click)="editProfile(profileFormData)">{{btnInitialState == true ? "Edit" : "Cancel"}}</button>
			</div>

		</form>		
	</div>
</div>