<section>
	<div class="my-account-header">
		<h2>
			My Account
			<small style="color: #4C9642;">Hello Lucas Silva</small>
		</h2>		
	</div>

	<nav class="breadcrumb" style="margin: 0; background-color: #fff;">
		<a class="breadcrumb-item" href="/">Home</a>		
		<span class="breadcrumb-item active">My Account</span>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-4">
				<a routerLink="/profile-informations">
					<div class="card mb-4">
						<div class="card-block">
							<i class="fas fa-unlock-alt fa-3x card-custom" style="color: #BFCBC2"></i>
							<div class="card-custom">
								<h3>Profile Informations</h3>
								<p>Edit login, name and password.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-4">
				<a routerLink="/address-list">
					<div class="card mb-4">
						<div class="card-block">
							<i class="fas fa-map-marker-alt fa-3x card-custom" style="color: #E1AE68"></i>
							<div class="card-custom">
								<h3>Address List</h3>
								<p>Edit addresses for orders and gifts.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-4">
				<a routerLink="/">
					<div class="card mb-4">
						<div class="card-block">
							<i class="fas fa-credit-card fa-3x card-custom" style="color:skyblue"></i>
							<div class="card-custom">
								<h3>Payment Methods</h3>
								<p>Edit your payment methods.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-4">
				<a routerLink="/order-history">
					<div class="card mb-4">
						<div class="card-block">
							<i class="fas fa-gift fa-3x card-custom" style="color: #AD8A64"></i>
							<div class="card-custom">
								<h3>Your Orders</h3>
								<p>Shipping status, tracking orders.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="col-4">
				<a routerLink="/wishlist">
					<div class="card mb-4">
						<div class="card-block">
							<i class="fas fa-heart fa-3x card-custom" style="color: #E86E48"></i>
							<div class="card-custom">
								<h3>Wishlist</h3>
								<p>Edit addresses for orders and gifts.</p>
							</div>

						</div>
					</div>
				</a>
			</div>
			<div class="col-4">
				<a routerLink="/">
					<div class="card mb-4">
						<div class="card-block">
							<i class="fas fa-envelope fa-3x card-custom" style="color:silver"></i>
							<div class="card-custom">
								<h3>Email Preferences</h3>
								<p>Edit your email alerts and messages.</p>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>